// COLOR VARIABLES
$color-gray:         #EBEBEB;
$color-primary:      #1F306E;
$color-secondary:    #F5487F;
$color-pink-light:   #C7417B;
$color-pink-dark:    #8F3B76;
$color-purple-light: #69529F;
$color-purple-dark:  #463864;
$color-white:        #FFFFFF;
$color-black:        #000000;

// GRID
$grid-width:            114rem;
$gutter-vertical-small: 4rem;
$gutter-vertical:       6rem;
$gutter-horizontal:     8rem;

*,
*::after,
*::before {
    padding: 0;
    margin:  0;
}

html {
    box-sizing: border-box;
    font-size:  62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    color:       $color-primary;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display:               grid;
    grid-template-rows:    min-content 60vh repeat(4, min-content);
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] 
                           minmax(2rem, 1fr) [full-end];
    grid-gap:              5rem 0;
}