// COLOR VARIABLES
$color-gray:         #EBEBEB;
$color-primary:      #1F306E;
$color-secondary:    #F5487F;
$color-pink-light:   #C7417B;
$color-pink-dark:    #8F3B76;
$color-purple-light: #69529F;
$color-purple-dark:  #463864;
$color-white:        #FFFFFF;
$color-black:        #000000;

// GRID
$grid-width:            114rem;
$gutter-vertical-small: 4rem;
$gutter-vertical:       6rem;
$gutter-horizontal:     8rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;    // 1200 px
$bp-large: 62.5em;    // 1000 px
$bp-medium: 50em;     //  800 px
$bp-small: 37.5em;    //  600 px

*,
*::after,
*::before {
    padding: 0;
    margin:  0;
}

html {
    box-sizing: border-box;
    font-size:  62.5%;
    
    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: 'Raleway', sans-serif;
    color:       $color-primary;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display:               grid;
    grid-template-rows:    min-content 60vh repeat(4, min-content);
    grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] 
                           minmax(4rem, 1fr) [full-end];
    grid-gap:              5rem 0;

    
    @media only screen and (max-width: $bp-large) {
        grid-template-rows:    min-content 30vh repeat(4, min-content);
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows:    min-content 40vh repeat(4, min-content);
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows:    min-content min-content repeat(4, min-content);
    }
}