.footer {
    display:               grid;
    grid-template-rows:    repeat(2, min-content);
    grid-template-columns: repeat(2, minmax(max-content, 1fr));
    grid-gap:              10rem 0;
    background-color:      rgba($color-primary, 0.87);
    color:                 $color-gray;
    grid-row:              6 / -1;
    grid-column:           full-start / full-end;
    padding:               10rem 10rem 2rem;

    &__content {
        display:               grid;
        grid-row:              1 / 2;
        grid-column:           1 / -1;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-gap:              5rem 0;

        &__row {
            &--title {
                font-size:      1.5rem;
                font-weight:    600;
                text-transform: capitalize;
                padding-bottom: 2rem;
            }

            &--list {
                
                li {
                    font-size:      1.5rem;
                    font-weight:    600;
                    text-transform: capitalize;
                    list-style:     none;
                }
            }
        }
    }

    &__copyright {
        grid-row:       2 / -1;
        grid-column:    1 / 2;
        font-size:      1.5rem;
        text-transform: capitalize;
    }

    &__socials {
        grid-row:     2 / -1;
        grid-column:  2 / -1;
        justify-self: end;

        &__icon {
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        i {
            background-color: $color-pink-light;
            border-radius:    100%;
            padding:          1rem;
        }
    }

    @media only screen and (max-width: $bp-small) {
        padding:  4rem;
        grid-gap: 5rem 0;
        
        &__content {
            &__row {
                &--title {
                    font-size:      1.2rem;
                }

                &--list {
                    
                    li {
                        font-size:      1.2rem;
                    }
                }
            }
        }
    }
}