.navbar {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    grid-row:        1 / 2;
    grid-column:     center-start / center-end;
    font-weight:     600;
    text-transform:  uppercase;
    padding-top:     3rem;

    &__list {
        display:         flex;
        justify-content: space-between;
        width:           70%;

        li {
            list-style: none;

            a {
                color:           $color-pink-dark;
                font-size:       2.5rem;
                text-decoration: none;
            }
        }
    }

    &__btn {
        color:            $color-white;
        background-color: $color-pink-light;
        font-size:        2rem;
        font-weight:      600;
        text-transform:   uppercase;
        border:           none;
        border-radius:    3.6rem;
        padding:          1rem 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        &__list {
            li {
                a {
                    font-size: 1.5rem;
                }
            }
        }
    }
}