.heading__primary {
    font-size:               4rem;
    font-weight:             700;
    text-transform:          capitalize;
    display:                 inline-block;
    background-image:        linear-gradient(to right,$color-primary,$color-secondary);
    background-clip:         text;
    -webkit-background-clip: text;
    -moz-background-clip:    text;
    color:                   transparent;
}